<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/responsivos/content.css">
    <link rel="stylesheet" href="/css/fadeAnimation.css">
    <link rel="stylesheet" href="/css/helpers/transictions.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/responsivos/header.css">
    <link rel="stylesheet" href="/css/responsivos/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="/js/dropdown.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="img__header"
            alt="">
        <nav class="navbar">



            <ul class="list">
                <li class="list__item"><a href="" class="list__link">Sobre</a></li>
                <li class="list__item"><a href="" class="list__link">Projetos</a></li>
                <li class="list__item"><a href="" class="list__link">Documetação</a></li>
                <li class="list__item"><a href="" class="list__link">Cursos</a></li>
               
            </ul>
             <a href="/auth" class="btn-login">Entrar</a>
             

            

            <!--MENU DROPDOWN PARA MOBILE-->

            
            <div class="dropdown" onclick="recolher">
                <button class="dropbtn" onclick="recolher()" >
                    <i class="bi bi-list" style="color: white; font-size:2rem; "></i>
                </button>

                <div class="dropdown-content"  id="content" >
                    <a href="#">Sobre</a>
                    <a href="#">Projetos</a>
                    <a href="#">Documetação</a>
                    <a href="#">Cursos</a>
                 </div>
            </div>
        </nav>
    </header>
    {{{body}}}

    <footer class="rodape">
        <div class="rodape__social">
            <h2 class="rodape__social-title">Social Media</h2>
            <a href="#" class="rodape__link"><img class="roda__media" src="/img/img-sociais/facebook.svg"
                    alt="Facebook"></a>
            <a href="#" class="rodape__link"><img class="roda__media" src="/img/img-sociais/instagram.svg"
                    alt="Instagram"></a>
            <a href="" class="rodape__link"><img class="roda__media" src="/img/img-sociais/youtube.svg"
                    alt="Youtube"></a>
            <a href="" class="rodape__link"><img class="roda__media" src="/img/img-sociais/twitter.svg"
                    alt="Twitter"></a>
        </div>
        
            <div class="copy">
                &copy;All Rights Reservation
            </div>
    </footer>
        

        
    
          
               


</body>


</html>