<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/fadeAnimation.css">
    <link rel="stylesheet" href="/css/helpers/transictions.css">
    <link rel="stylesheet" href="/css/helpers/transiction_code.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="img__header" alt="">
        <nav class="navbar">
            <ul class="list">
                <li class="list__item"><a href="" class="list__link">Sobre</a></li>
                <li class="list__item"><a href="" class="list__link">Projetos</a></li>
                <li class="list__item"><a href="" class="list__link">Documetação</a></li>
                <li class="list__item"><a href="" class="list__link">Cursos</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}

    <footer></footer>
</body>


</html>