<section class="banner">
    <div class="img__banner"></div>
    <h2 class="banner__titulo">Conheça o NodeJS</h2>
</section>
<main class="container">


    <section class="sobre">
        <h2 class="sobre__titulo  transiction-text">O que é o NodeJS ?</h2>
        <p class="sobre__descricao animated animatedFadeInUp fadeInUp">
            Como um tempo de execução JavaScript assíncrono orientado a eventos,
            o Node.js foi projetado para construir aplicativos de rede escalonáveis.
        </p>
    </section>

    <section class="codigo">
        <h3 class="codigo__titulo animated animatedFadeInUp fadeInUp">Sobre Node.js</h3>

        <div class="codigo__imagem-texto">
            <div class="codigo__imagem"></div>
            <p class="codigo_descricao animated animatedFadeInUp fadeInUp">
                Isso contrasta com o modelo de simultaneidade mais comum de hoje, no qual threads de sistema operacional
                são empregados. A rede baseada em thread é relativamente ineficiente e muito difícil de usar.
                Além disso, os usuários do Node.js estão livres da preocupação de travar o processo, uma vez que
                não há bloqueios. Quase nenhuma função no Node.js realiza I / O diretamente, então o processo nunca
                bloqueia,
                exceto quando a I / O é realizada usando métodos síncronos da biblioteca padrão do Node.js.
                Como nada bloqueia, sistemas escaláveis ​​são muito razoáveis ​​para desenvolver em Node.js.
            </p>
        </div>

    </section>
    <h2 class="title__conteudo">LOREM IPSUM</h2>

    <section class="conteudo">

        <div class="conteudo__imagem"></div>
        <div class="conteudo_texto--div">
            <h2 class="conteudo__titulo">What is Lorem Ipsum?</h2>
            <p class="conteudo__texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled .

            </p>
            <a href="#" class="btn__conteudo">LOREM</a>
        </div>

    </section>
    <hr>
    <section class="conteudo">

        <div class="conteudo_texto--div">
            <h2 class="conteudo__titulo">What is Lorem Ipsum?</h2>
            <p class="conteudo__texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled .

            </p>
            <a href="#" class="btn__conteudo">LOREM</a>
        </div>
        <div class="conteudo2__imagem"></div>

    </section>



</main>