<main class="conteiner-regisiter">

<section class="form-register">

    {{#if messages.message}}
        <div class="form__register-message">
            <p>{{messages.message}}</p>
        </div>
    {{/if}}
    <div class="form__register-container">
    <h1 class="form-title">Registre-se</h1>

    <form action="/register" method="post">
        <div class="form-control">
            <label for="">Nome:</label>
            <input type="text" name="name" placeholder="Nome" required>
        </div>
        <div class="form-control">
            <label for="">E-mail</label>
            <input type="text" name="email" placeholder="E-mail" required>
        </div>
        <div class="form-control">
            <label for="">Senha:</label>
            <input type="password" name="pass" placeholder="Senha" required>
        </div>
        <div class="form-control">
            <label for="">Confirme a Senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme a senha" required>
        </div>

        <input class="btn-register" type="submit" value="CADASTRAR">
        <div class="form__register-texts"> <p>Já tem conta? <a class="form__register-link" href="/auth">Clique aqui</a></p></div>
       
    </form>
    </div>

</section>

</main>