header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #333131;
    position: relative;
    
  

}
.img__header{
    width: 50px;
    height: 50px;
    padding: .8em;
}

.list{
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    
    
}
.list__item{
    list-style: none;
    margin-right: 1em;
}
.list__link{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}
.list__link:hover{
    color: #83cd29;
    font-weight: 200;
}

.dropdown{
    display: none;
}
.btn-login{
    border: none;
    background-color: #83cd29;
    padding: .8rem 1.2rem;
    position:absolute;
    right: 20px;
    bottom: 15px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}
.btn-login:hover{
    border: 2px solid white;
    background-color:rgb(51, 49, 49) ;
    transition: 1s ease-in;
    padding: .8rem 1.2rem;
    position:absolute;
    right: 20px;
    bottom: 15px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}