<div class="form">
    <form action="">
        <div class="form-control">
            <label for="">Nome:</label>
            <input type="text" name="name" required>
        </div>
         <div class="form-control">
            <label for="">E-mail:</label>
            <input type="text" name="email" required>
        </div>
         <div class="form-control">
            <label for="">Senha:</label>
            <input type="password" name="passs" required>
        </div>
        <div class="form-select">
            <select name="permission" id=""></select>
            <option value="admin">Administrador</option>
            <option value="dev">Desenvolvedor</option>
        </div>
        
    <input type="submit" value="Cadastrar">
    </form>
</div>