<header>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="img__header"
            alt="">
        <nav class="navbar">
            <ul class="list">
                <li class="list__item"><a href="" class="list__link">Sobre</a></li>
                <li class="list__item"><a href="" class="list__link">Projetos</a></li>
                {{#if users.pemission === 'admin'}}
                    <li class="list__item"><a href="" class="list__link">Usuarios</a></li>
                {{/if}}
                <li class="list__item"><a href="" class="list__link">Cursos</a></li>
               
            </ul>
             <a href="/logout" class="btn-login">SAIR</a>
             

            

            <!--MENU DROPDOWN PARA MOBILE-->
            <div class="dropdown" onclick="recolher">
                <button class="dropbtn" onclick="recolher()" >
                    <i class="bi bi-list" style="color: white; font-size:2rem; "></i>
                </button>

                <div class="dropdown-content"  id="content" >
                    <a href="#">Sobre</a>
                    <a href="#">Projetos</a>
                    <a href="#">Materias</a>
                    <a href="#">Cursos</a>
                 </div>
            </div>
        </nav>
    </header>

    <h1>Testeddd</h1>